<template name="newStudyNavBar">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav nav-list">
                    <li class="disabled"><a><h3>Title</h3></a></li>
                    <li class="disabled"><a><h3>Questions</h3></a></li>
                    <li class="disabled"><a><h3>Scheduler</h3></a></li>
                    <li class="disabled"><a><h3>Sensors</h3></a></li>
                    <li class="disabled"><a><h3>Overview</h3></a></li>
                </ul>
            </div>
        </nav>
    </header>
</template>