<template name="SingleQuestionnaireNav">
    <ul class="nav nav-list">
        <h3>Studies</h3>
        <li class="active"><a href="/questionnaire/{{questionnaire._id}}"><h3>Questionnaire</h3></a></li>
        <li><a href="/questionnaire/{{questionnaire._id}}/sensor"><h3>Sensors</h3></a></li>
        <li> <a href="/questionnaire/{{questionnaire._id}}/configuration"><h3>Scheduler</h3></a></li>
        <li> <a href="/questionnaire/{{questionnaire._id}}/export"><h3>Overview</h3></a></li>
    </ul>
</template>
