<template name="SingleQuestionnaireNav">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav nav-list">
                    <li><a href="/study/{{study._id}}/title"><h3>Title</h3></a></li>
                    <li><a href="/study/{{study._id}}/questions"><h3>Questions</h3></a></li>
                    <li><a href="/study/{{study._id}}/schedule"><h3>Scheduler</h3></a></li>
                    <li><a href="/study/{{study._id}}/sensor"><h3>Sensors</h3></a></li>
                    <li><a href="/study/{{study._id}}/configuration"><h3>Overview</h3></a></li>
                </ul>
            </div>
        </nav>
    </header>
</template>