<template name="SingleQuestionnaireNav">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/questionnaire/{{questionnaire._id}}">Questionnaire</a></li>
        <li><a href="/questionnaire/{{questionnaire._id}}/sensor">Sensors</a></li>
        <li> <a href="/questionnaire/{{questionnaire._id}}/export">Schedule</a></li>
        <li><a href="/questionnaire/{{questionnaire._id}}/configuration">Configuation</a></li>
        <li> <a href="/questionnaire/{{questionnaire._id}}/export">Overview</a></li>
    </ul>
</template>
