<template name="StudyPanel">
    <div class="container">
        <div class="page-header">
            <h1>User Panel</h1>
        </div>

        <div class="row">
            <!--<h1>Create a new study</h1>-->
            <a href="/study" class="btn btn-success" role="button">Create a new study</a>
        </div>

        <div class="col-sm-6">
            <h1>Recent studies</h1>
            {{#if Template.subscriptionsReady}}
                <table class="table table-striped">
                    <tbody>
                    {{#each studies}}
                        {{#if this.exported}}
                        <tr>
                            {{> singleStudy}}
                        </tr>
                        {{/if}}
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Loading</p>
            {{/if}}
        </div>
        <div class="col-sm-6">
            <h1>Unfinished studies</h1>
            {{#if Template.subscriptionsReady}}
                <table class="table table-striped">
                    <tbody>
                    {{#each studies}}
                        {{#unless this.exported}}
                        <tr>
                            {{> singleStudy}}
                        </tr>
                        {{/unless}}
                    {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>Loading</p>
            {{/if}}
        </div>
    </div>
</template>