<template name="About">
  {{> Header}}
  <main>
      <div class="container">

          <h3>Experience Sampling Method</h3>
          <p>The experience sampling method, also referred to as a daily diary method, or ecological momentary assessment (EMA),
              is a research methodology that asks participants to stop at certain times and make notes of their experience in real time.
              The point is that participants record temporal things like their feelings while in the moment (right then, not later; right there,
              not elsewhere). They can be given a journal with many identical pages. Each page can have a psychometric scale,
              open-ended questions, or anything else used to assess their condition in that place and time. Online ESM studies can
              also operate fully automatized. The experience sampling method was developed by Larson and Csikszentmihalyi.</p>

          <br>

          <h3>AWARE</h3>
          <p>AWARE is an Android framework dedicated to instrument, infer, log and share mobile context information,
              for application developers, researchers and smartphone users. AWARE captures hardware-, software-, and human-based data.
              The data is then analyzed using AWARE plugins. They transform data into information you can understand.</p>

          <h4>AWARE ESM</h4>
          <p>The ESM sensor adds support for user-provided context by leveraging mobile Experience Sampling Method (ESM).
              The ESM questionnaires can be triggered by context, time or on-demand, locally or remotely (within your study on AWARE’s dashboard).
              Although user-subjective, this sensor allows crowdsourcing information that is challenging to instrument with sensors.</p>
      </div>
  </main>
  {{> Footer}}
</template>
