<template name="HomeLayout">
    {{> Header}}
    <div class="container">
        <div class="jumbotron">
            <h1>Create Advanced Experience Sampling Studies.</h1>
            <p>The Easy Way to create ESM studies.</p>
        </div>

        <div class="main-layout">
            <p class="primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus, velit nisl molestie enim, ac pretium orci eros vel elit. Proin at neque in arcu vehicula vestibulum eu et velit.</p>

            <div class="row">
                <div class="col-md-4">
                    <h4><i class="fa fa-flag"></i>ESM Creator</h4>
                    <p>Create your own <em>Experience Sampling</em> studies using ESM Creator.</p>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-magic"></i>Easy To Use</h4>
                    <p>You do not need any programming skills for making ESM-studies.</p>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-lock"></i>Secure</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, justo vitae tristique finibus.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4><i class="fa fa-magic"></i>Advanced Configuration</h4>
                    <p>Web-ESM supports multiple question type which can be configured diversely.</p>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-mobile"></i>AWARE support</h4>
                    <p>Web-ESM supports AWARE-application which allows you to get access sensor data. The studies are imported into AWARE which takes care of the study.</p>
                </div>
                <div class="col-md-4">
                    <h4><i class="fa fa-github"></i>Open Source</h4>
                    <p>ESM Creator is completely free to use, and its source code is <a href="https://www.github.com">publicly available</a>.</p>
                </div>
            </div>

        </div>
    </div>
    {{> Footer}}
</template>
